###############################################################################
# ClamAV Daily Scan
###############################################################################
START_TIME=`date`
echo "Starting ClamAV Scan at ${START_TIME}" 2&>> {{ clamav_clamd_config.LogFile }}
clamscan --infected --recursive=yes --exclude-dir={{ clamav_daily_cron_exclusions|join(' --exclude-dir=') }} / 2&>> {{ clamav_clamd_config.LogFile }}

case $? in
  1)
    echo "Virus Detected!"
  ;;
  2)
    echo "Error Occured!"
  ;;
  *)
    echo "No Viruses Detected!"
  ;;
esac

FINISH_TIME=`date`
echo "Finished ClamAV Scan at ${FINISH_TIME}" 2&>> {{ clamav_clamd_config.LogFile }}
